.s-input{
    display: inline-block;
    width: 50%;
    margin-left: 20px;
}
.blod-title{
    padding: 15px 0;
    font-weight: 600;
}
body .full-from-width .ant-form-item-control-wrapper{
    width: 100%;
}