.verified-list {
    background-color: #dfe2eb;
    padding: 10px;
    width: 100%;

    .title-view {
        background-color: #ececf4;
        padding: 0 10px;
        border: #d9dce3 solid 1px;
        border-radius: 5px;
    }

    .search-view {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 5px;
        margin-top: 2px;
    }

    & .ant-input-number {
        width: 100%;
    }

    .button-view {
        margin: 20px 0 30px 0;
    }
}
