.reimburse-my-title {
    display: flex;
    flex-direction: row;
    color: #565a63;
    align-items: center;

    .img {
        width: 30px;
        height: 30px;
        margin-right: 5px;
    }
}
