.repayment-width-2 {
    width: 66.66% !important;
}

.repayment-width-1 {
    width: 33.33% !important;
}

.repayment-submit {

    margin-bottom: 50px;
    margin-right: 50px;
}

.repayment-submit-table {
    margin-top: 40px;
}
